/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    justify-content: center;
    margin-left: 4% ;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*haut de pages*/

.top {
    line-height: 2;
}
.haut{
    display: flex;
    justify-content: space-between;
}
.haut img{
justify-self: center;
}
.lienshaut {
    float: right;
color: gray;
justify-content: flex-end;
padding: 10px 16px;

}
.lienshaut #lienhebergement {
    margin: 0px 50px;
    padding-top: 20px;
}
.lienshaut #lienactivities {
    padding-top: 20px;
}
.lienshaut #lienactivities:hover {
    border-top: solid var(--main-color);
    color: var(--main-color);
   }
.lienshaut #lienhebergement:hover {
    border-top: solid var(--main-color);
    color: var(--main-color);
   }
/*barre de recherche*/


.search {
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  
.iconlocation {
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    background: var(--main-bg-color);
    color: black;
    padding: 0 12px;
    text-align: center;
    border-radius: 10px 0 0 10px ;
    font-size: 20px;
  }
    
.iconlocation i {
    padding-top: 14px;
        color: black;
      }
  
.searchbar {
    width: 80%;
    border: 1px solid  var(--main-bg-color);
    border-right: none;
    padding: 5px;
    height: 40px;
    outline: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  
  .searchbutton {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 22px;
    padding: 12px;
    cursor: pointer;
  }
  
  
  #icon-glass {
      display: none;
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    color: white;
    padding: 0 12px;
    text-align: center;
    border-radius: 10px 0 0 10px ;
    font-size: 20px;
  }
   



/* boutons*/
.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;

  }
#ButtonContainer {
    font-weight: bold;
}
  
.btn {
    border: 2px solid var(--main-bg-color);
    padding: 12px 16px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
  }
  .btn i {
    padding-right: 6px;
  }
  
  .btn:hover {
    background-color: #DEEBFF;
  }


/* icone d'info*/
.iconinfo {
    margin: 25px 0px;
}

.fa-info{
    border: 2px solid var(--main-bg-color);
    padding: 6px 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    display: inline-block;
    }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards{
    display: flex;
    justify-content: space-evenly;
}
.hebergements-cards .card {
    height: 246px;
    width: 140px;
    display: flex;
    margin: 15px;
    flex-direction: column;
    justify-content: space-around;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.hebergements-cards img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}





/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*activites*/

.actvitiesall {
    margin: 80px 0;
    width: 65%;
}
.actvitiesall .section-title {
    margin: 50px 0;
    width: 65%;
}
.activities-cards {
    margin: 80px 0;
    display: flex;
}

.activities {
    width: 150%;
    height: 340px;
  justify-content: space-around;
      display: flex;
}
.activities-card {
  width: 25%;
  height:  7;
  border-radius: 20px;
    display: flex;
    margin: 15px;
    flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
}
.activities-card .card-title {
 align-items: center;
 margin: 10px 10px;
}

.activities-card img {
  border-radius: 10px 10px 0 0;
    height: 280px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.activities-card .card-content {
  text-align: start;
 width: 80%;
 height: 40px;
 padding-bottom: 20px;
}


/* Footer */
.footer {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 30px;
}

.footer-blocs {
  display: flex;
justify-content: space-evenly;
padding-right: 200px;
  width: 100%;
  max-width: 1440px;
  background-color: var(--main-bg-color);
}

.footer-column {

  display: flex;
  flex-direction: column;
  line-height: 1.8;
}


.footer-title {
  font: bold;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .search {
        span.searchIcon {display:none};
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        justify-content: center;
        margin-left: 4% ;
    }
    .section-title {
        font-size: 28px;
    }
    /* haut de page */
    .haut img{
        margin-left: 28%;
        width: 40%;
    }
    .haut {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .top {
     justify-self: center;
     font-size: 18px;
    }
    
    .lienshaut {
    justify-content: space-evenly;
    font-size: 22px;
    margin-left: -10px;
    }
    .lienshaut #lienhebergement {
        padding-bottom: 20px;
        color: black;
        border-bottom: solid var(--main-bg-color);
    }
    .lienshaut #lienactivities {
        padding-bottom: 20px;
        color: black;
        border-bottom: solid var(--main-bg-color);
    }
    .lienshaut #lienactivities:hover {
        border-top: none;
        border-bottom: solid var(--main-color);
        color: var(--main-color);
       }
    .lienshaut #lienhebergement:hover {
        border-top: none;
        border-bottom: solid var(--main-color);
        color: var(--main-color);
       }

  /* barre de recherche */
    .search {
        position: relative;
    }
    .iconlocation {
        width: 50px;
        height: 60px;
    }
    .iconlocation i {
    padding-top: 19px;
    }
    
      .searchbar {
        width: 300px;
        height: 49px;
      }
     #searchbutton {
        display: none;
      }
      #icon-glass {
        display: block;
        position: absolute;
        right: -20px;
        height: 22px;
        width: 49px;
        border-radius: 15px;
        padding: 20px 12px;
      }
    
/* filtres*/
    .btn {
        margin: 10px;
        width: 160px;
        justify-content: start;
        font-size: 15px;
        text-align: start;
      }
    .btn i {
        padding-right: 6px;
      }

    .iconinfo i {
         padding: 5px 12px;
    }
      
    .hebergements-and-populaires .populaires {
        background-color:  var(--main-bg-color);
        border-radius: 0;
        margin-left: -80px;
        width: 1000%;
        margin-bottom: 15px;
    }
    .hebergements-and-populaires .hebergements {
        background-color:  white;

    }
    .populaires-title .section-title {
        margin-left: 40px;
    }
    .card-title {
        font-size: 20px;
    }
    .populaires {
        order: -1;
    }
    
    .populaires-cards {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1000px;
        border-radius: 20px;
    }
    .populaires-cards .populaires-title{
        margin-left: 40px;
    }
    .populaires-cards .card {
        width: 390px;
    }
    .populaires-cards img {
        width: 150px;
        height: 150px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .populaires-cards .card-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;

    }
    .populaires-cards .card-title {
        font-size: 20px;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 16px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1000px;
        border-radius: 20px;
        margin-left: -50px;
    }
    .hebergements .populaires-title {
        margin-left: -50px;
    }
    .hebergements-cards .card {
        width: 390px;
    }
    .hebergements-cards img {
        width: 100%;
        height: 150px;
    }
    
    .hebergements-cards .card-content {
        width: 100%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;

    }



    .activities {
        width: 1080px;
        height: 80%;
        margin: 10px;
        flex-direction: column;
        margin-left: -10px;
    }

    .activities-card {
        width: 35%;
        height: 100%;
        margin-left: 0;
        margin: 10px;
    }
        
    .activities-card img {
          height: 140px;
          width: 100%;
      }

      .activities-card .card-title {
        font-size: 20px;
       }






       .footer-blocs {
        display: inline-flex;
        flex-direction: column;
      }
      .footer-blocs .footer-column {
        padding: 15px 50px;
      }
      
    }